body, html {
  margin: 0;
  height: 100%;
  display: flex; 
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #e3f2fd, #bbdefb);
}

.search-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiTextField-root {
  transition: box-shadow 0.3s ease;
}

.MuiTextField-root:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}
